#index {
    text-align: center;
    .text {
        margin: 20px;
        font-size: 18px;
    }
    .rudder{ width: 200px; height: 200px; margin: auto; overflow: hidden;}
    .index-icon {
        font-size: 150px;
        color: rgb(3, 165, 180);
    }
    
    .Rotation {
        animation: rotation 3s linear infinite;
    }
    
    @keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
    
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}

