@import './assets/iconfont/iconfont.css';
@import './pages/index/style.scss';
@import './pages/about/style.scss';
.nav{ display: flex; justify-content: center; padding-top: 50px;}
.button{ margin: 0 20px;}